<h2>Sign up</h2>

<% resource.build_company %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <%= f.fields_for :company do |builder| %>
  <div class="form-group">
    <%= builder.label :company_name %><br />
    <%= builder.text_field :company_name %>
  </div>
  <div class="form-group">
    <%= builder.label :company_address %><br />
    <%= builder.text_field :company_address %>
  </div>
  <%end%>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
