<td>
  <%= link_to user.email, user %>
</td>
<td>
  <% if user == current_user %>
    <%= current_user.role.titleize %>
  <% else %>
    <%= simple_form_for(user) do |f| %>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) unless user == current_user %>
      <%= f.submit 'Change Role', class: 'btn btn-default btn-xs' unless user == current_user %>
    <% end %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-xs') unless user == current_user %>
</td>