<h2>Users</h2>

<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">Users</a></li>
    <li role="presentation"><%= link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New User'), new_user_registration_path %></li>
  </ul>

<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th>User Email</th>
      <th>Role</th>
      <th>Delete User</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%= render user %>
      </tr>
    <% end %>
  </tbody>
</table>