<div class="row content-center">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="panel-heading">
          <img class="logo-sign-in" src="http://onstageservices.com/wp-content/uploads/2013/03/logo1.png">
          <h3 class="panel-title text-center">Production Log in</h3>
        </div>
        <div class="panel-body">
      
        <div class="form-group">
          <%= f.input :email, autofocus: true %>
        </div>
      
        <div class="form-group">
          <%= f.input :password, autocomplete: "off" %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        </div>
        <div class="panel-footer">
            <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>