<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">App Settings</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Delivery Title</dt>
      <dd><%= Setting.delivery_title_one_trip %> <%= link_to 'Edit', edit_admin_setting_path("delivery_title_one_trip"), class: 'btn btn-default btn-xs btn-hover' %></dd>
      <dt>Description:</dt>
      <dd><%= Setting.delivery_description_one_trip %> <%= link_to 'Edit', edit_admin_setting_path("delivery_description_one_trip"), class: 'btn btn-default btn-xs btn-hover' %></dd>
      <dt>Delivery & Pickup Title:</dt>
      <dd><%= Setting.delivery_title_two_trips %></td> <%= link_to 'Edit', edit_admin_setting_path("delivery_title_two_trips"), class: 'btn btn-default btn-xs btn-hover' %></dd>
      <dt>Description:</dt>
      <dd><%= Setting.delivery_description_two_trips %> <%= link_to 'Edit', edit_admin_setting_path("delivery_description_two_trips"), class: 'btn btn-default btn-xs btn-hover' %></dd>
    </dl>
  </div>
</div>
