<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formula Settings</h3>
  </div>
  <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Two Day Rate:</dt>
        <dd><%= Setting.two_day_rate %> <%= link_to 'Edit', edit_admin_setting_path("two_day_rate"), class: 'btn btn-default btn-xs btn-hover' %></dd>
        <dt>Three Day Rate:</dt>
        <dd><%= Setting.three_day_rate %> <%= link_to 'Edit', edit_admin_setting_path("three_day_rate"), class: 'btn btn-default btn-xs btn-hover' %></dd>
        <dt>Weekly Rate:</dt>
        <dd><%= Setting.weekly_rate %> <%= link_to 'Edit', edit_admin_setting_path("weekly_rate"), class: 'btn btn-default btn-xs btn-hover' %></dd>
        <dt>Drop Off & Pickup Rate:</dt>
        <dd><%= Setting.drop_off_pickup_rate %> <%= link_to 'Edit', edit_admin_setting_path("drop_off_pickup_rate"), class: 'btn btn-default btn-xs btn-hover' %></dd>
      </dl>
  </div>
</div>
