<div class="container">
  <h1 class="page-header">Settings Edit</h1>
  <%= simple_form_for(@setting, url: admin_setting_path(@setting.var), method: 'patch') do |f| %>
  <label><%= @setting.var.humanize %></label>
    <div class="row">
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-10">
            <%= f.text_field :value, label: false, class: 'form-control' %>
          </div>
          <div class="col-sm-2">
            <%= f.button :submit, class: btn_classes_create %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
