<div class="container">
  <h1 class="page-header">Settings</h1>
  <div class="row">
    <div class="col-md-4">
      <%= render 'rates' %>
    </div>
    <div class="col-md-8">
      <h4>1. Driver</h4>
      <p><code>@driver = @time * vehicle.driver_rate / 60 * 2</code></p>
      <h4>2. Vehicle Rate</h4>
      <p><code>@round_trip = @mileage / vehicle.mpg * vehicle.fuel_rate + (@mileage * vehicle.per_mile_rate + vehicle.rental_rate )</code></p>
      <h4>3. Final Rate</h4>
      <p>Single Day: <code>@round_trip + @driver</code></p>
      <p>Two Day: <code>@round_trip * Setting.two_day_rate + @driver</code></p>
      <p>Three Day: <code>@round_trip * Setting.three_day_rate + @driver</code></p>
      <p>Weekly Day: <code>@round_trip * Setting.weekly_rate + @driver</code></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <%= render 'app' %>
    </div>
  </div>
</div>
