<%= simple_form_for(@vehicle, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form) do |f| %>
  <div class="panel-body">
    <% if @vehicle.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>
  
        <ul>
        <% @vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <div class="col-sm-10">
        <%= f.input :title, class: 'form-control' %>
        <div class="col-sm-offset-3"><span id="helpBlock" class="help-block">The style or category of vehicle. Example: <strong>Cargo Van</strong></span></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <%= f.input :order, class: 'form-control' %>
        <div class="col-sm-offset-3"><span id="helpBlock" class="help-block">The length/size of the vehicle, also used to sort the vehicle. Example: <strong>6.00</strong></span></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <%= f.input :mpg, class: 'form-control' %>
        <div class="col-sm-offset-3"><span id="helpBlock" class="help-block">The actual or estimated miles per gallon of this vehicle. Example: <strong>15.0</strong></span></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <%= f.input :rental_rate, class: 'form-control' %>
        <div class="col-sm-offset-3"><span id="helpBlock" class="help-block">The rate per day to rent this vehicle. Example: <strong>75.00</strong></span></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <%= f.input :per_mile_rate, class: 'form-control' %>
        <div class="col-sm-offset-3"><span id="helpBlock" class="help-block">The USD rate per mile. Example: <strong>.18</strong></span></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <%= f.input :fuel_rate, class: 'form-control' %>
        <div class="col-sm-offset-3"><span id="helpBlock" class="help-block">The USD fuel rate per gallon. Example: <strong>3.00</strong></span></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <%= f.input :driver_rate, class: 'form-control' %>
        <div class="col-sm-offset-3"><span id="helpBlock" class="help-block">The USD driver rate per hour. Example: <strong>20.00</strong></span></div>
      </div>
    </div>
</div>
<div class="panel-footer">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, class: btn_classes_create %>
    </div>    
  </div>
</div>
<% end %>