<div class="container">
  <h2>Vehicles</h2>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">Vehicles</a></li>
    <% if !current_user.user? %>
      <li role="presentation"><%= link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Vehicle'), new_vehicle_path %></li>
    <% end %>
  </ul>
  
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th>Title</th>
        <th class="text-right">Order/Size</th>
        <th class="text-right">Mpg</th>
        <th class="text-right">Rental rate</th>
        <th class="text-right">Per mile rate</th>
        <th class="text-right">Fuel rate</th>
        <th class="text-right">Driver rate</th>
        <% if current_user.editor? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
  
    <tbody>
      <% @vehicles.order(:order).each do |vehicle| %>
        <% if !vehicle.fuel_rate? && !current_user.user? %>
          Please edit this vehicle: <%= vehicle.title %> <%= link_to 'Edit', edit_vehicle_path(vehicle), class: 'btn btn-primary btn-sm' %><br>
        <% else %>
          <tr>
            <td><h4><%= link_to vehicle.title, vehicle %></h4></td>
            <td class="text-right"><%= vehicle.order %></td>
            <td class="text-right"><%= vehicle.mpg %></td>
            <td class="text-right">$<%= vehicle.rental_rate %> / day</td>
            <td class="text-right">$<%= vehicle.per_mile_rate %></td>
            <td class="text-right">$<%= number_with_precision(vehicle.fuel_rate, :precision => 2) %></td>
            <td class="text-right">$<%= number_with_precision(vehicle.driver_rate, :precision => 2) %></td>
            <% if !current_user.user? %>
            <td class="text-center">
              <%= link_to 'Edit', edit_vehicle_path(vehicle), class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Delete', vehicle, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm'  %>
            </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>