<div class="row">
  <div class="col-sm-offset-2 col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">New Vehicle</h1>
      </div>
      
      <%= render 'form' %>
    
    </div>
    
    <%= link_to 'Back', vehicles_path %>
  </div>
</div>