<div class="row">
  <div class="col-sm-4 col-sm-offset-3">
    <h2><%= @vehicle.title %> <% if current_user.editor? %><%= link_to 'Edit', edit_vehicle_path(@vehicle), class: 'btn btn-sm btn-primary pull-right' %><% end %></h2>
    
    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Order/Size</dt>
          <dd><%= number_with_precision(@vehicle.order, :precision => 2) %></dd>
          <dt>Miles Per Gallon <i class="glyphicon glyphicon-scale"></i></dt>
          <dd><%= @vehicle.mpg %></dd>
          <dt>Rental Rate</dt>
          <dd>$<%= number_with_precision(@vehicle.rental_rate, :precision => 2) %> / day</dd>
          <dt>Per Mile Rate</dt>
          <dd><%= number_with_precision(@vehicle.per_mile_rate, :precision => 2) %></dd>
          <dt>Fuel Rate</dt>
          <dd>$<%= number_with_precision(@vehicle.fuel_rate, :precision => 2) %> per gallon</dd>
          <dt>Driver Rate <i class="glyphicon glyphicon-user"></i></dt>
          <dd>$<%= number_with_precision(@vehicle.driver_rate, :precision => 2) %> per hour</dd>
        </dl>
      </div>
    </div>

  </div>
</div>