/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,700italic,500italic,400italic,900,900italic);
body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
}
// h4 {
//   font-size: 14px;
//   font-weight: bold;
//   line-height: 1.2em;
// }
.table th.actions, .table th.fit, .table td.actions, .table td.fit {
  width: 1%;
  white-space: nowrap;
}
