<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-group">
    <%= f.input :title, class: 'form-control', required: "true" %>
    <span id="helpBlock" class="help-block">The name of this location. Example: <strong>On Stage Services</strong></span>
  </div>

  <div class="form-group">
    <%= f.input :address, class: 'form-control' %>
    <span id="helpBlock" class="help-block">The actual street address of the location. Example: <strong>1000 Cottage Grove St. SE, Grand Rapids, MI 49507</strong></span>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: btn_classes_create %>
  </div>
<% end %>
