<div id="location-json" data-location="<%= @location.to_json %>"></div>
<div class="row">
  <div class="col-sm-6">
    <div id="map-pin">
      <div class="well" style="width: 100%;height:200px;"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="map-satellite">
      <div class="well" style="width: 100%;height:200px;"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div id="map-directions">
      <div class="well" style="width: 100%;height:300px;"></div>
    </div>
  </div>
</div>
