<h3><%= Setting.delivery_title_one_trip %><br/><small><%= Setting.delivery_description_one_trip %></small></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Vehicle</th>
      <th class="text-right fit">Driver</th>
      <th class="text-right fit">Duration</th>
      <th class="text-right fit">Vehicle</th>
      <th class="text-right fit">Total</th>
    </tr>
  </thead>
  <tbody>
  <% @vehicles.order(:order).each do |vehicle| %>
    <div class="well hidden debug container">
      <h3>Debug</h3>
      <!-- <p>Google Directions API <code><%#= @directions.status %></code> 'google_directions' gem</p> -->
      <p>vehicle.driver_rate: <code><%= vehicle.driver_rate %></code></p>
      <p>vehicle.rental_rate: <code><%= vehicle.rental_rate %></code></p>
      <p>vehicle.fuel_rate: <code><%= vehicle.fuel_rate %></code></p>
      <p>vehicle.mpg: <code><%= vehicle.mpg %></code></p>
      <p>vehicle.per_mile_rate: <code><%= vehicle.per_mile_rate %></code></p>
      <p>@time = @directions.drive_time_in_minutes: <code><%#= @directions.drive_time_in_minutes %></code></p>
      <p>@mileage = @directions.distance_in_miles: <code><%#= @directions.distance_in_miles %></code></p>
      <p>@driver: <code><%= @driver = @time * vehicle.driver_rate / 60 * 2 %></code><br><small>(@driver = @time * vehicle.driver_rate / 60 * 2)</small></p>
      <p>@round_trip: <code><%= @round_trip = (@mileage / vehicle.mpg * vehicle.fuel_rate + (@mileage * vehicle.per_mile_rate + vehicle.rental_rate )).round(2) %></code><br><small>(@round_trip = (@mileage / vehicle.mpg * vehicle.fuel_rate + (@mileage * vehicle.per_mile_rate + vehicle.rental_rate )).round(2)</small></p>
    </div>
    <% @driver = @time * vehicle.driver_rate / 60 * 2 %>
    <% @round_trip = (@mileage / vehicle.mpg * vehicle.fuel_rate + (@mileage * vehicle.per_mile_rate + vehicle.rental_rate )).round(2) %>
      <tr>
        <td>
          <h4><%= link_to vehicle.title, vehicle %></h4>
        </td>
        <td class="fit text-right"><small>$</small><%= number_with_precision(@driver, :precision => 2) %></td>
        <td class="fit text-right">
          <span class="text-muted">1 day </span></small><br>
          <span class="text-muted">2 days </span></small><br>
          <span class="text-muted">3 days </span></small><br>
          <span class="text-muted">week </span></small>
        </td>
        <td class="fit text-right"><small>$</small><span data-toggle="tooltip" title="Round Trip ($<%= number_with_precision(@round_trip, :precision => 2) %>)"><%= number_with_precision(@round_trip, :precision => 2) %></span><br>
        <small>$</small><span data-toggle="tooltip" title="Round Trip x Two Day Rate ($<%= number_with_precision(@round_trip, :precision => 2) %> x <%= Setting.two_day_rate.to_f %>)"><%= number_with_precision(@round_trip * Setting.two_day_rate.to_f, :precision => 2) %></span><br>
        <small>$</small><span data-toggle="tooltip" title="Round Trip x Three Day Rate ($<%= number_with_precision(@round_trip, :precision => 2) %> x <%= Setting.three_day_rate.to_f %>)"><%= number_with_precision(@round_trip * Setting.three_day_rate.to_f, :precision => 2) %></span><br>
        <small>$</small><span data-toggle="tooltip" title="Round Trip x Weekly Rate ($<%= number_with_precision(@round_trip, :precision => 2) %> x <%= Setting.weekly_rate.to_f %>)"><%= number_with_precision(@round_trip * Setting.weekly_rate.to_f, :precision => 2) %></span><br></td>
        <td class="fit text-right"><small>$</small><span data-toggle="tooltip" title="Round Trip + Driver ($<%= number_with_precision(@round_trip, :precision => 2) %> + $<%= @driver %>)"><%= number_with_precision(@round_trip + @driver, :precision => 2) %></span><br>
        <span class="text-right"><small>$</small><span data-toggle="tooltip" title="Round Trip x Two Day Rate + Driver ($<%= number_with_precision(@round_trip, :precision => 2) %> x <%= Setting.two_day_rate.to_f %> + $<%= number_with_precision(@driver, :precision => 2) %>)"><%= number_with_precision(@round_trip * Setting.two_day_rate.to_f + @driver, :precision => 2) %></span><br>
        <span class="text-right"><small>$</small><span data-toggle="tooltip" title="Round Trip x Three Day Rate + Driver ($<%= number_with_precision(@round_trip, :precision => 2) %> x <%= Setting.three_day_rate.to_f %> + $<%= number_with_precision(@driver, :precision => 2) %>)"><%= number_with_precision(@round_trip * Setting.three_day_rate.to_f + @driver, :precision => 2) %></span><br>
        <span class="text-right"><small>$</small><span data-toggle="tooltip" title="Round Trip x Weekly Rate + Driver ($<%= number_with_precision(@round_trip, :precision => 2) %> x <%= Setting.weekly_rate.to_f %> + $<%= number_with_precision(@driver, :precision => 2) %>)"><%= number_with_precision(@round_trip * Setting.weekly_rate.to_f + @driver, :precision => 2) %></span></td>
      </tr>
      <tr>
        <td colspan="5" class="text-center">
          <small><span class="text-muted">miles/<%= vehicle.mpg %> mpg x $<%= number_with_precision(vehicle.fuel_rate, :precision => 2) %>/gal + (miles + <%= vehicle.per_mile_rate %> per mile + $<%= vehicle.rental_rate %> rental)</span></small>
        </td>
      </td>
  <% end %>
  </tbody>
</table>
<h3><%= Setting.delivery_title_two_trips %><br/><small><%= Setting.delivery_description_two_trips %></small></h3>
<table class="table">
  <thead>
    <tr>
      <th>Vehicle</th>
      <th class="text-right fit">Driver</th>
      <th class="text-right fit">Vehicle</th>
      <th class="text-right fit">Total</th>
    </tr>
  </thead>
  <tbody>
  <% @vehicles.order(:order).each do |vehicle| %>
  <% @driver = (@time * vehicle.driver_rate / 60 * Setting.drop_off_pickup_rate.to_f) %>
  <% @round_trip = (@mileage / vehicle.mpg * vehicle.fuel_rate + (@mileage * vehicle.per_mile_rate + vehicle.rental_rate )).round(2) %>
    <tr>
      <td>
        <h4><%= link_to vehicle.title, vehicle %></h4>
      </td>
      <td class="text-right"><small>$</small><span data-toggle="tooltip" title="Driver x Drop Pick ($<%= number_with_precision(@driver, :precision => 2) %> x <%= Setting.drop_off_pickup_rate.to_f %>)"><%= number_with_precision(@driver * Setting.drop_off_pickup_rate.to_f, :precision => 2) %></span></td>
      <td class="text-right"><small>$</small><span data-toggle="tooltip" title="Round Trip x Drop Pick ($<%= number_with_precision(@round_trip, :precision => 2) %> x <%= Setting.drop_off_pickup_rate.to_f %>)"><%= number_with_precision(@round_trip * Setting.drop_off_pickup_rate.to_f, :precision => 2) %><span></td>
      <td class="text-right"><small>$</small><span data-toggle="tooltip" title="(Driver + Round Trip) x Drop Pick ($<%= number_with_precision(@driver, :precision => 2) %> + $<%= number_with_precision(@round_trip, :precision => 2) %> x <%= Setting.drop_off_pickup_rate.to_f %>)"><%= number_with_precision((@driver + @round_trip) * Setting.drop_off_pickup_rate.to_f, :precision => 2) %></span></td>
    </tr>
    <tr>
      <td colspan="5" class="text-center">
        <small><span class="text-muted">miles/<%= vehicle.mpg %> mpg x $<%= number_with_precision(vehicle.fuel_rate, :precision => 2) %>/gal + (miles + <%= vehicle.per_mile_rate %> per mile + $<%= vehicle.rental_rate %> rental)</span></small>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
