<div class="row">
  <div class="col-sm-offset-2 col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Edit Location</h1>
      </div>

      <div class="panel-body">
        <%= render 'form_edit' %>
      </div>

    </div>

    <%= link_to 'Back', @location %>
  </div>
</div>
