<%= render 'layouts/jumbo' unless user_signed_in? %>

<h2>Locations <span class="badge badge-info"><%= @total_locations %></span></h2>

<%= render 'layouts/results' %>

<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">Locations</a></li>
    <li role="presentation"><%= link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Location'), new_location_path %></li>
  </ul>

<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th><%= sort_link(@q, :title, 'Title', default_order: :desc) %></th>
      <th><%= sort_link(@q, :city, 'City') %></th>
      <th><%= sort_link(@q, :state, 'State') %></th>
      <th><%= sort_link(@q, :postal_code, 'Postal Code') %></th>
      <th class="text-center">Google Map</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td>
          <h4><%= link_to location.title, location, class: 'location-link' %></h4>
          <span class="text-muted"><%= location.try(:address) %></span>
        </td>
        <td><%= location.try(:city) %></td>
        <td><%= location.try(:state) %></td>
        <td><%= location.try(:postal_code) %></td>
        <td class="text-center"><%= link_to raw('<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map'), "http://maps.google.com/?q="+location.address, :target => "_blank" %></td>
        <td><%= link_to 'Edit', edit_location_path(location), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
 <%= will_paginate @locations, renderer: BootstrapPagination::Rails %>
 <p><small>Showing <%= @locations.count %> of <%= @total_locations %> locations.</small></p>
</div>