<div class="row">
  <div class="col-sm-offset-2 col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">New Location</h1>
      </div>
      
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    
    </div>
    
    <%= link_to 'Back', locations_path %>
  </div>
</div>