<h2><%= @location.title %> <small style="font-size: 14px;"><span class="glyphicon glyphicon-road" aria-hidden="true"></span>
    <span id="distance"></span>, <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    <span id="duration"></span> &mdash; <span id="summary"></span></small>
    <%= link_to 'Edit', edit_location_path(@location), class: 'btn btn-primary pull-right' %></h2>

<div class="row">
  <div class="col-sm-8">
    <em><%= @location.try(:address) %></em>
    <%= link_to raw('<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map'), "http://maps.google.com/?q="+@location.address, :target => "_blank", :class => "btn btn-link" %>

    <%= render 'locations/maps' %>

    <table class="table">
      <tr>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
      <tr>
        <td><div id="latitude"><%= @location.latitude %></div></td>
        <td><div id="longitude"><%= @location.longitude %></div></td>
      </tr>
    </table>
    </ul>
  </div>
  <div class="col-sm-4">
    <%= render 'locations/rates' %>
  </div>
</div>

<script>
  var directions = <%= raw @routes.to_json %>;
  // console.log(directions);
</script>