<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to raw('<span class="glyphicon glyphicon-road" aria-hidden="true"></span> Locations & Miles'), root_path, class: 'navbar-brand' %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <%= render 'layouts/search' %>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Warehouses"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span id="currentWarehouse">Warehouses</span> <span class="caret"></span></a>
          <ul class="dropdown-menu" id="warehouses">
          </ul>
        </li>
        <li>
          <%= link_to(vehicles_path) do %>
            <%= fa_icon "truck", text: "Vehicles" %>
          <% end %>
        </li>
        <li>
          <%= link_to(locations_path) do %>
            <%= fa_icon "map", text: "Locations" %>
          <% end %>
        </li>
        <% if current_user.admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Settings', admin_settings_path %></li>
          </ul>
        </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to raw('<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Profile'), edit_user_registration_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to raw('<span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log Out'), destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to raw('<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log In'), new_user_session_path %></li>
        <li><%= link_to "Join", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
