<div class="jumbotron">
  <h1>Welcome to my Pintrested App!</h1>
  <p>This is the home page.</p>
  <div class="center">
    <% unless user_signed_in? %>
      <%= link_to raw('<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log In'), new_user_session_path, class: "btn btn-default" %>
      <%= link_to "Join", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>