<% if !@q.title_or_address_cont.nil? %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="well well-sm">
        <% if @locations.count > 1 %>
          <%= content_tag(:p, "#{@locations.count} results for") %>
        <% elsif @locations.count == 1 %>
          <%= content_tag(:p, "#{@locations.count} result for") %>
        <% else %>
          <p>No results for</p>
        <% end %>
          <h3><%= content_tag(:strong, @q.title_or_address_cont) %></h3>
        <% if @locations.count < 1 %>
          <%= link_to 'Add location', new_location_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>