<%= search_form_for @q, :html => {:class => "navbar-form navbar-left", :name => "search"} do |f| %>
  
  <% if current_page?(root_path) %>
    <%= f.search_field :title_or_address_cont, class: 'form-control', autofocus: 'true' %>
  <% else %>
    <%= f.search_field :title_or_address_cont, class: 'form-control' %>
  <% end %>

  <%= f.submit 'Go', class: 'btn btn-primary' %>
  
<% end %>