<!DOCTYPE html>
<html>
<head>
  <title>Delivery Rate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google-site-verification" content="9u6uaKhrcPxbqxu_UTG9yMygqOAnzMDGKjHLdojMaGw" />
  <%= render 'favicon' %>
</head>
<body>

  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>
  </div>

  <div class="container-fluid">
    <% flash.each do |name, msg| %>
      <%# content_tag(:div, msg, class: "alert alert-#{name}") %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
